<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,viewport-fit=cover">
    <title>跑马灯 - by Alexander</title>
    <link rel="preload" href="./static/fonts/mui.ttf" as="font" crossorigin>
    <link rel="stylesheet" href="./static/css/mui.min.css">
    <link rel="stylesheet" href="./static/css/waves.min.css">
    <link rel="stylesheet" href="./static/css/general.css">
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/shangzhenyang/assets/img/icon-512.png">
    <script src="./static/js/theme.js"></script>
</head>

<body class="marquee">
    <img class="bg-img hidden" alt>
    <header class="mui-bar mui-bar-nav">
        <div id="back" class="mui-icon mui-icon-left-nav mui-pull-left" tabindex="0" role="button"></div>
        <h1 class="mui-title">跑马灯</h1>
    </header>
    <div id="main" role="main">
        <input type="text" class="input-block" placeholder="输入文本">
        <div class="input-bg">
            <div class="mui-input-row">
                <label id="backgroundColorLabel" for="backgroundColor">背景颜色</label>
                <input id="backgroundColor" type="text" value="#000000">
            </div>
            <div class="mui-input-row">
                <label id="textColorLabel" for="textColor">文本颜色</label>
                <input id="textColor" type="text" value="#FFFFFF">
            </div>
            <div class="mui-input-row">
                <label id="speedLabel" for="speed">速度</label>
                <input id="speed" type="number" value="40">
            </div>
        </div>
        <button type="button" class="mui-btn mui-btn-blue mui-btn-block">开始</button>
        <ul id="history" class="menu" v-cloak v-if="list.length>0">
            <li v-for="(item,index) in reversed" @click="clicked(index)" tabindex="0" role="button">
                {{item.title||item.text}}</li>
        </ul>
    </div>
    <script src="./static/js/i18n.js"></script>
    <script src="./static/js/general.js"></script>
    <script src="./static/js/vue@2.6.js"></script>
    <script src="./static/js/marquee.js"></script>
    <script async defer src="./static/js/waves.min.js"></script>
</body>

</html>